/**
 * CUSTOM CSS
 *
 * Here you can add your custom CSS code.
 */

/*# sourceMappingURL=custom.css.map */
@media print {
   body {
      color: #fff;
      background: #000;
   }
}
@page {
  size: 5.5in 8.5in;
}
@page {
  size: A4;
}
@page :left {
  margin-left: 3cm;
}

@page :right {
  margin-left: 4cm;
}
@page :blank {
  @top-center { content: "This page is intentionally left blank." }
}
h1 {
  page-break-before: always;
}
h1, h2, h3, h4, h5 {
  page-break-after: avoid;
}
table, figure {
  page-break-inside: avoid;
}
@page:right{
  @bottom-right {
    content: counter(page);
  }
}

@page:left{
  @bottom-left {
    content: counter(page);
  }
}
@page:left{
  @bottom-left {
    content: "Page " counter(page) " of " counter(pages);
  }
}
@page:right{ 
  @bottom-left {
    margin: 10pt 0 30pt 0;
    border-top: .25pt solid #666;
    content: "Our Cats";
    font-size: 9pt;
    color: #333;
  }

  @bottom-right { 
    margin: 10pt 0 30pt 0;
    border-top: .25pt solid #666;
    content: counter(page);
    font-size: 9pt;
  }

  @top-right {
    content:  string(doctitle);
    margin: 30pt 0 10pt 0;
    font-size: 9pt;
    color: #333;
  }
}
@page:left {
  @bottom-right {
    margin: 10pt 0 30pt 0;
    border-top: .25pt solid #666;
    content: "Our Cats";
    font-size: 9pt;
    color: #333;
  }

  @bottom-left { 
    margin: 10pt 0 30pt 0;
    border-top: .25pt solid #666;
    content: counter(page);
    font-size: 9pt;
  }
}
